.img-historia {
    width: 70%;
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
    object-fit: cover;
}

#background-rounded {
    background-color: rgba(204, 82, 153, .4);
    position: absolute;
    width: 75%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#relative-side{
  position: relative;
}

.nameQuote{
  margin-top: 50px;
}

.imgHistoria-teacher {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.imgHistoria-circle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  margin: auto;
}

#historia-second {
    margin-top: 110px;
}

#quote{
  margin-top: 60px;
}

.quote-text{
  font-weight: 600;
}

@media only screen and (max-width: 1366px){
  #background-rounded {
    width: 90%;
    height: 90%;
  }

  .img-historia {
    width: 85%;
    height: 85%;
    object-fit: cover;
  }

  #first-paragraph{
    padding-top: 30px;
  }

  #quote{
    margin-top: 50px;
  }

  #historia-second {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1136px){
  .img-historia {
    width: 90%;
    height: 50%;
  }

  #quote {
    margin-top: 25px;
    margin-left: 40px;
  }

  .circle-img-teacher{
    height: 50vh;
    padding-top: 0 !important;
  }

  .imgHistoria-teacher {
    height: 100%;
    object-fit: contain;
  }

  .imgHistoria-circle {
    height: 83%;
    object-fit: contain;
  }

  #no-padding{
    padding-bottom: 0px
  }

}

@media only screen and (max-width: 768px){
  .one-half-text {
    width: 100%;
  }

  .one-half-img {
    height: 35vh;
    margin: auto;
  }

  .img-historia {
    width: 85%;
    height: 90%;
  }

  #quote {
    margin-top: 55px;
    margin-left: 40px;
  }

  #first-paragraph {
    padding-top: 0;
  }
}

@media only screen and (max-width: 428px){

  #quote {
    margin-top: 55px;
    margin-left: 10px;
  }

  .one-half-img {
    height: 25vh;
    margin: auto;
  }

  .nameQuote {
    margin-top: 20px;
  }

}
