.img-historia {
    width: 70%;
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#background-rounded {
    background-color: rgba(204, 82, 153, .4);
    position: absolute;
    width: 75%;
    height: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#relative-side{
  position: relative;
}

.nameQuote{
  margin-top: 50px;
}

.imgHistoria-teacher {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.imgHistoria-circle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  margin: auto;
}

#historia-second{
  margin-top: 80px;
}

@media only screen and (max-width: 1136px){
  .img-historia {
    position: relative;
  }

  .img-side{
    display: flex;
  }

  .imgHistoria-teacher {
    width: 73%;
    z-index: 1;
    position: relative;
  }
  .imgHistoria-circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 84%;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  #quote{
    width: 85%;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 428px){
  #background-rounded {
    width: 90%;
    height: 100%;
  }
  .img-historia {
    width: 85%;
  }

  #quote {
    width: 85%;
    margin-top: 50px;
  }
  #historia-second {
    margin-top: 50px;
  }
}
