#class-flex {
    height: 40vh;
    width: 75%;
    margin: auto;
}

#img-half{
  padding: 0;
  height: 100%;
}

.img-class {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.img-circle-class{
  width: 40% !important;
}

.class-text-box{
  width: 50%;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 70px;
}

#relative-circle{
  position: relative;
}

#secondary-contenido{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 180px;
}

#outside-flex{
  margin-top: 100px;
}

.circle-img-class {
  position: absolute;
  top: 0;
  width: 80%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.pink-background{
 background-color: rgba(204, 82, 153, .4);
 padding: 30px;
}

#outside-text{
  padding-right: 80px;
  width: 60%;
}

.img-class-rounded{
    width: 61%;
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    object-fit: cover;
}

#background-rounded-class{
    background-color: rgba(204, 82, 153, .4);
    position: absolute;
    width: 67%;
    height: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 1366px){
  #outside-flex{
    margin-top: 0px;
  }

  #secondary-contenido{
    margin-top: 100px;
  }

  .img-class {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

@media only screen and (max-width: 1136px){

  #background-rounded-class {
    width: 67%;
    height: 70%;
  }

  #img-half{
    width: 50%;
  }

  #class-flex {
    height: 25vh;
    width: 85%;
  }

  .class-text-box {
        width: 75%;
  }

  .img-class-rounded {
    height: 65%;
  }

  .img-circle-class {
    width: 100% !important;
  }

  .circle-img-class {
    position: absolute;
    top: 0;
    width: 49%;
    margin: auto;
  }
  .flex-responsive{
    display: flex;
  }

  #outside-flex {
    display: flex;
    position: relative;
    align-content: space-between;
  }

  #second-layout{
    padding-top: 0;
  }

  #outside-text {
    padding-right: 80px;
    text-align: center;
    width: 94%;
    margin: auto;
  }

  .img-class-rounded {
    position: relative;
  }

  #secondary-contenido {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media only screen and (max-width: 1112px){
  #class-flex {
    height: 35vh;
    width: 85%;
  }

  #outside-flex {
    margin-top: 120px;
  }

  .circle-img-class {
    position: absolute;
    top: 0;
    width: 44%;
    margin: auto;
  }

  #outside-text {
    margin-top: 23%;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px){
  #outside-flex {
    margin-top: 100px;
  }

  #outside-text {
    margin-top: 20%;
    padding: 0;
  }

  #secondary-contenido {
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 850px){

  #relative-circle {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #outside-text {
    margin: auto;
    padding: 0px;
    margin-top: 33%;
  }

  .img-flex-class{
    height: 50vh !important;
  }

}


@media only screen and (max-width: 428px){



  #outside-flex {
    margin-top: 30px;
  }

  #secondary-contenido {
    margin-top: 70px;
  }

  #img-half {
    width: 100%;
  }

  #class-flex {
    height: auto;
  }

  .img-class {
    height: 22vh;
    width: 100%;
    object-fit: cover;
  }
  .class-text-box {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .circle-img-class {
    position: relative;
    top: -42%;
    width: 80%;
    margin: auto;
  }

  #outside-text {
    padding-right: 0;
    margin-top: 63%;
    text-align: center;
    padding-left: 0;
  }

  .center{
    text-align: center;
  }

  #background-rounded-class {
    background-color: rgba(204, 82, 153, .4);
    position: absolute;
    width: 90%;
    height: 90%;
  }

  .img-class-rounded {
    height: 80%;
    width: 80%;
  }

  .img-absolute{
    height: 35vh;
  }

  #background-rounded-class {
    width: 90%;
    height: 90%;
  }
}



