#class-flex {
    height: 50vh;
    width: 75%;
    margin: auto;
}

#img-half{
  padding: 0;
  height: 100%;
}

.img-class {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.class-text-box{
  width: 50%;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 70px;
}

.circle-img-class{
    position: absolute;
    top: -15%;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
}

.pink-background{
 background-color: rgba(204, 82, 153, .4);
 padding: 30px;
}

#outside-text{
  padding-right: 80px;
}

.img-class-rounded{
    width: 61%;
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    object-fit: cover;
}

#background-rounded-class{
    background-color: rgba(204, 82, 153, .4);
    position: absolute;
    width: 67%;
    height: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 1136px){
  #img-half{
    width: 50%;
  }

  #class-flex {
    height: 25vh;
  }
  .class-text-box {
        width: 75%;
  }
  .circle-img-class {
    position: relative;
    top: -24%;
    width: 70%;
    margin: auto;
  }
  .flex-responsive{
    display: flex;
  }

  #outside-text {
    padding-right: 80px;
    margin-top: -18%;
    text-align: center;
  }
  #second-layout{
    padding-top: 0;
  }
  .secondary{
    padding: 0px 20px;
  }
  .img-class-rounded {
    position: relative;
  }
}


@media only screen and (max-width: 428px){

  #img-half {
    width: 100%;
  }

  #class-flex {
    height: auto;
  }
  .img-class {
    height: 22vh;
    width: 100%;
    object-fit: cover;
  }
  .class-text-box {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .circle-img-class {
    position: relative;
    top: -42%;
    width: 80%;
    margin: auto;
  }
  #outside-text {
    padding-right: 0;
    margin-top: -25%;
    text-align: center;
    padding-left: 0;
  }

  .center{
    text-align: center;
  }

  #background-rounded-class {
    background-color: rgba(204, 82, 153, .4);
    position: absolute;
    width: 85%;
  }

  .img-class-rounded {
    width: 75%;
  }
}



