.titleText {
    color: #cc5299;
    font-weight: 600;
    padding-top: 3%;
    padding-bottom: 1%;
    text-transform: uppercase;
}

.paragraph{
    text-align: center;
    padding-top: 4%;
}

.center-text{
  text-align: center;
}

.contact_form{
  width: 50%;
  margin: auto;
}
.paragraph p {
    color: black;
    font-weight: 450;
    line-height: 20px;
    width: 30%;
    margin: auto;
    font-size: 18px;
    padding-bottom: 2%;
}

.contactrow{
  width: 35%;
  padding-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.placeholder{
  background: white;
  height:40px;
  border-radius: 25px;
  padding-left: 4%;
  font-size: 14px;
  text-transform: uppercase;
}

.longerInput {
    height: 180px;
}

.placeholder-message{
  background: #e3e3e3;
  color: white;
  height: 15vh
}

#btnForm {
  border: gray;
  background:white;
  color: #495057;
  margin-top: 10px;
  padding: 8px 50px;
  border-radius: 25px;
  border: 1px solid #ced4da;
  margin-bottom: none;
  float: right;
}

.underline{
    text-decoration: underline;
    text-decoration-thickness: 15%;
    text-decoration-color:#ff8c68;
    text-underline-offset: 50%;
}

.paragraph2 p {
    color: #79917c;
    font-weight: 450;
    font-size: 18px;
    text-align: center;
}

.whatsappnumber {
  margin-bottom: 5%;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 35px 30px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cicle-contact{
  position: absolute;
  left: 0;
}

.contac-maps{
  height: 50vh;
}

@media(max-width: 768px){
  .cicle-contact {
    position: absolute;
    left: 0;
    width: 70%;
  }

}

@media only screen and (max-width: 428px){
  .contact_form {
    width: 100%;
    margin: auto;
  }

.form-control {
    padding: 26px 11px !important;
    font-size: 12px !important;
  }

  .cicle-contact {
    position: absolute;
    left: 0;
    width: 70%;
    bottom: 0;
  }
}
