#contact-page{
  margin-top: 200px;
  position: relative;
  padding-bottom: 200px;

}

.contact_form{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.contact-circle{
    position: absolute;
    bottom: 0;
    width: 35%;
    z-index: -1;
}

.contactrow{
  width: 35%;
  padding-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.placeholder{
  background: white;
  height:40px;
  border-radius: 25px;
  padding-left: 4%;
  font-size: 14px;
  text-transform: uppercase;
}

.placeholder-message{
  background: #e3e3e3;
  color: white;
  height: 15vh
}

#btnForm {
  border: gray;
  background:white;
  color: #495057;
  margin-top: 10px;
  padding: 8px 50px;
  border-radius: 25px;
  border: 1px solid #ced4da;
  margin-bottom: none;
  float: right;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 25px 30px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-icon {
    color: #CC5299;
    font-size: 35px !important;
    margin-right: 21px;
}

.contact-info{
  display: flex;
  margin-bottom: 30px;
}

.map-container{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 75%;
  margin-top: 120px;
}

.map-img{
  width: 45%;
  object-fit: cover;
}

.contact-media{
  width: 45%;
}

@media(max-width: 768px){
  .cicle-contact {
    position: absolute;
    left: 0;
    width: 70%;
  }

}

@media only screen and (max-width: 1136px){

  .contact_form {
    width: 70%;
    margin: auto;
    margin-top: 90px;
  }
  .map-container {
    width: 85%;
  }

  .contact-circle {
    width: 49%;
  }
  .contact-text{
    margin-top: 30px !important;
  }
  #contact-page {
    padding-bottom: 100px;
    min-height: 87vh;
  }
}

@media only screen and (max-width: 800px){
  #contact-page {
    margin-top: 230px;
  }
  .contact-text {
    margin-top: 35px !important;
    width: 75%;
    margin: auto;
  }
  .contact_form {
    width: 80%;
    margin-top: 55px;
  }
  .map-container {
    margin-top: 100px;
  }
  .map-container {
    flex-direction: column-reverse;
    width: 70%;
  }
  .map-img {
    width: 100%;
  }
  .contact-media {
    width: 100%;
  }
  #contact-page {
    padding-bottom: 115px;
  }
}

@media only screen and (max-width: 550px){
  #contact-page {
    margin-top: 160px;
  }

  .contact-text {
    margin-top: 25px !important;
    margin-bottom:  25px;
  }

  .contact_form {
    width: 90%;
    margin: auto;
  }

  .form-control {
    padding: 23px 20px !important;
    font-size: 10px !important;
  }

  .contact-icon {
    font-size: 20px !important;
    margin-right: 15px;
  }
  .contact-info {
    margin-bottom: 15px;
  }

  .contact-circle {
    width: 69%;
  }

  #contact-page {
    padding-bottom: 70px;
  }

  .map-container {
    margin-top: 60px;
  }
}
