.carousel{
  height: 95vh;
}
.carousel-indicators{
  display: none !important;
}

.carousel-inner{
  height: 100%;
  overflow: visible !important;
}

.carousel-item{
  height: 100%;
}

.carousel-img {
    height: 110%;
    margin: auto;
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#ballet-mobile{
  display: none !important;
}

#jazz-pic{
    height: 132%;
    top: -172px;
}

#tap-pic {
    height: 145%;
    top: -213px;
}

#contem-pic {
    height: 140%;
    top: -229px;
}

.carousel-circle{
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.carousel-text{
  color: #CC5299;
  font-weight: 400;
}

#first-slide-text{
    bottom: 320px;
    left: 28%;
}

#second-slide-text{
    left: 54%;
    top: 10%;
}

#third-slide-text {
    left: 0;
    bottom: 50%;
}

#fourth-slide-text {
    left: 0;
    bottom: 42%;
    right: -21%;
}

#fifth-slide-text {
    left: 0;
    bottom: 55%;
    right: -21%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 21px !important;
    height: 44px !important;
}


.carousel-control-prev-icon {
    background-image: url("../images/next-left.png") !important;
}

.carousel-control-next-icon {
  background-image: url("../images/next-right.png") !important;
}


@media only screen and (max-width: 1136px){
.carousel-circle {
    height: auto;
  }
  .carousel-img {
    height: 100%;
  }

  #first-slide-text {
    bottom: 43%;
    left: 34%;
  }

  #ballet-desktop{
    display: none !important;
  }

  #ballet-mobile{
    display: block !important;
  }

  #second-slide-text {
    left: -33%;
    top: 14%;
  }
  #jazz-pic {
    height: auto;
    top: -177px;
    width: 100%;
    left: -7%;
  }
  #tap-pic {
    height: auto;
    top: -213px;
    width: 100%;
  }
  #fourth-slide-text {
    left: 0;
    bottom: 46%;
    right: -31%;
  }
  #fifth-slide-text {
    left: 0;
    bottom: 55%;
    right: -21%;
    width: 100%;
  }
  #contem-pic {
    height: auto;
    top: -229px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px){
  .carousel-circle {
    width: 100%;
  }

  .carousel-img {
    height: auto;
    width: 100%;
  }

}

@media only screen and (max-width: 428px){
  .carousel {
    height: 50vh;
    margin-top: 50px;
  }

  #first-slide-text {
    bottom: 31%;
    left: 9%;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 5% !important;
  }
  #second-slide-text {
    left: -39%;
    top: 3%;
  }
  #jazz-pic {
    height: auto;
    top: -83px;
    width: 100%;
    left: -7%;
  }
  #third-slide-text {
    left: 0;
    bottom: 36%;
  }
  #tap-pic {
    height: auto;
    top: -91px;
    width: 100%;
  }
  #fifth-slide-text {
    left: 0;
    bottom: 53%;
    right: -21%;
    width: 100%;
  }
  #contem-pic {
    height: auto;
    top: -109px;
    width: 100%;
  }
}

@media only screen and (max-width: 360px){
  .carousel {
    height: 50vh;
    margin-top: 0;
  }

}
