.homeParagraph {
    margin-top: 8%;
}

#btn{
  border: none;
  background:#cc5299;
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-bottom: none;
}

.carouselImg {
    height: 80vh;
    width: auto;
    object-fit: contain;
}

.carouselBgImage{
    position:absolute;
    margin: auto;
}