@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');


body{
  background-color: #F4E6EF;
  font-family: 'Lato', sans-serif;
}

h1{
  font-weight: bold;
  font-size: 75px;
  color: #CC5299;
}

h2{
  font-weight: bold;
  font-size: 50px;
  color: #CC5299;
}

h3{
  font-size: 42px;
  color: #CC5299;
}

h4{
  font-size: 32px;
  color: #CC5299;
}

p{
  font-size: 18px;
  letter-spacing: 0.5px;
}
.contenido{
  margin-top: 100px;
}


.center-text{
  text-align: center;
}

#btn{
  border: none;
  background:#cc5299;
  border-radius: 25px;
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -30px;
  padding: 11px 30px;
}

.subtitle{
  font-weight: 700;
  letter-spacing: 0.5px;
}

.container-box{
  max-width: 80vw;
  margin: auto;
}

.mainTitle {
    color: #cc5299;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text {
    letter-spacing: 0.5px;
}

.text-box-center{
  text-align: center;
}

.flex-box-half{
  display: flex;
  flex-wrap: wrap;
}

.one-half-flex{
  width: 50%;
  padding: 40px;
}

#no-padding{
  padding: 0;
}

.padding-text-left{
  padding-left: 30px;
  padding-top: 30px;
}

.margin-40{
  margin-top: 40px;
}

.padding-text-right{
  padding-right: 30px;
  padding-top: 30px;
}
.two-thirds-box{
  width: 65%;
}

.one-third-flex{
  width: 40%;
  padding: 40px;
}

.two-third-flex{
  width: 60%;
  padding: 40px;
}

@media only screen and (max-width: 1366px){
  .two-thirds-box {
    width:80%;
  }

  .padding-text-right {
    padding-right: 10px;
    padding-top: 0px;
  }

  .padding-text-left {
    padding-left: 10px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 1136px){
  .contenido {
    margin-top: 50px;
  }

  .one-half-flex {
    width: 50%;
    padding: 40px;
  }

  .one-half-text{
    width: 65%;
  }

  .one-half-img{
    width: 35%;
  }
 /* .one-half-flex {
    width: 100%;
    padding: 40px;
  }*/
  #background-rounded {
    width: 95%;
    height: 55%;
  }

  .one-third-flex {
    width: 100%;
    padding: 40px;
  }

  .two-third-flex {
    width: 100%;
    padding: 40px;
  }
   .padding-text-right {
    padding-right: 15px;
  }

  .padding-text-left {
    padding-left: 15px;
  }

  .column-reverse{
    flex-direction: column-reverse;
  }
}


@media(max-width: 768px){
 h2{
  font-size: 35px;
 }

 h4 {
    font-size: 27px;
  }

 .one-half-text {
    width: 100%;
  }

  .one-half-img {
    width: 80% !important;
  }

  #background-rounded {
    width: 95%;
    height: 100%;
  }

  .two-thirds-box {
    width: 95%;
  }

  .one-half-flex {
    width: 100%;
  }

  .padding-text-right {
    padding-right: 0px;
  }

  .padding-text-left {
    padding-left: 0px;
  }

  .subtitle {
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 428px){
  h1{
    font-size: 45px;
  }

  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
  }

  h5{
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  #btn {
    border: none;
    background: #cc5299;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: 2px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: -30px;
    padding: 11px 30px;
  }
  .contenido{
    margin-top: 20px;
  }

  .one-half-flex {
    padding: 10px;
  }

  .two-third-flex {
    width: 100%;
    padding: 10px;
  }
  .padding-text-right {
    padding-right: 0px;
     padding-top: 0px;
  }

  .padding-text-left {
    padding-left: 0px;
    padding-top: 0px;
  }

  .imgHistoria-teacher {
    width: 100%;
    z-index: 1;
    position: relative;
  }
}
